//main: ../main.scss

.section-banner {
  height: 600px;

  background-color: $white;
  background: url($base-url + 'images/banner-outgive.png') no-repeat;
  background-position: 100%;

  .container {
    display: flex;
    align-items: center;

    height: 100%;
  }

  .banner {
    &-content {
      padding: 0 20px;
      margin-bottom: 80px;
    }

    &-title {
      margin-bottom: 12px;
    }

    &-description {
      margin-bottom: 40px;
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
      color: $title-color;
    }

    &-btn {
      padding: 0 40px;

      @include on-event() {
        color: $white;
        background-color: $brand-color;
        border-color: $brand-color;
      }
    }
  }

  @include respond-to(xs) {
    background-image: none;
  }
}

.section-overview {
  position: relative;
  padding-bottom: 140px;

  &:after {
    content: '';
    z-index: 9999;
    position: absolute;
    bottom: -245px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($base-url+'images/img-dotted.png') no-repeat;
  }

  .overview-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: -73px auto 0;
    width: 100%;
    max-width: 1105px;
  }
    
  .mission {
    &-card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 258px;
      height: 162px;

      background: $white;
      border: 1px solid #DFE0EB;
      border-radius: 8px;
      cursor: pointer;

      @include on-event() {
        color: $white;
        background: $brand-color;
        border-color: $brand-color;

        .mission-icon {
          filter: brightness(100);
        }
      }
    }

    &-icon {
      margin-bottom: 15px;
    }

    &-title {
      font-family: $font-muli-bold;
      font-size: 19px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.4px;
      color: $gray;
    }
  }
  
  @include respond-to(xs) {
    padding-bottom: 25px;
    
    &:after {
      display: none;
    }

    .overview-wrapper {
      flex-direction: column;
      margin: 0 auto;
    }

    .mission-card {
      margin-bottom: 15px;
    }
  }
}

.section-about {
  position: relative;
  padding-top: 115px;
  padding-bottom: 82px;
  background-color: #FBFBFB;

  &:after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: -18px;
    right: 7%;
    width: 43px;
    height: 43px;
    background: url($base-url+'images/icon-plus-yellow.png') no-repeat;
  }

  .about-title {
    margin-bottom: 32px;
  }

  .about-text {
    margin-bottom: 30px;
    color: #898989;
  }

  .col {
    &-first {
      padding-right: 45px;
    }

    &-second {
      padding-left: 45px;
    }
  }

  @include respond-to(xl) {
    .container {
      max-width: 1185px;
    }
  }
}

.section-mission {
  position: relative;
  padding-top: 106px;
  padding-bottom: 82px;

  .container-fluid {
    padding: 0;
  }

  .small-title {
    margin-bottom: 16px;
  }

  .section-title {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 30px;
    color: #898989;
  }

  .mission-holder {
    padding-top: 28px;
    // margin-bottom: 92px;4
    margin-bottom: 150px;

    .small-title {
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 37px;
      letter-spacing: 4px;
    }

    .mission-title {
      margin-bottom: 25px;
    }

    .mission-image {
      position: relative;
      margin-top: 6px;

      img {
        position: relative;
        z-index: 10;
      }
    }

    .mission-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &.container {
      max-width: 1310px;

      &.right {
        margin-right: 0;
        padding-right: 0;

        .mission-content {
          padding-right: 70px;
        }
        
        .mission-image {
          position: relative;
          margin-top: 6px;

          img {
            position: relative;
            z-index: 10;
          }

          &:before {
            content: '';
            position: absolute;
            z-index: 5;
            right: 0;
            bottom: -105px;

            width: 80.5%;
            height: 100%;
        
            background: $yellow;
          }

          &:after {
            content: '';
            z-index: 12;
            position: absolute;
            bottom: -135px;
            right: 10%;
            width: 43px;
            height: 43px;
            background: url($base-url+'images/icon-plus-dark.png') no-repeat;
          }
        }
      }
      
      &.left {
        margin-left: 0;
        padding-left: 0;

        .mission-content {
          padding-left: 80px;
          // margin-top: 45px;
        }

        .mission-image {
          &:before {
            content: '';
            position: absolute;
            z-index: 5;
            left: 0;
            bottom: -85px;
    
            width: 80.5%;
            height: 100%;
        
            background: $brand-color;
          }
        }
      }
    }
  }

  @media (min-width: 1441px) {
    max-width: 1180px;
    margin: 0 auto;
  }

  @include respond-to(xl) {
    .container {
      max-width: 1185px;
    }
  }
}