//main: ../main.scss

.section-banner {
  height: 600px;

  background-color: $white;
  background: url($base-url + 'images/banner-outgive.png') no-repeat;
  background-position: 100%;

  .container {
    display: flex;
    align-items: center;

    height: 100%;
  }

  .banner {
    &-content {
      padding: 0 20px;
      margin-bottom: 80px;
    }

    &-title {
      margin-bottom: 12px;
    }

    &-description {
      margin-bottom: 40px;
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
      color: $title-color;
    }

    &-btn {
      padding: 0 40px;

      @include on-event() {
        color: $white;
        background-color: $brand-color;
        border-color: $brand-color;
      }
    }
  }

  @include respond-to(xs) {
    background-image: none;
  }
}

.section-overview {
  position: relative;
  padding-bottom: 140px;

  &:after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: -245px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($base-url+'images/img-dotted.png') no-repeat;
  }

  .overview-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: -73px auto 0;
    width: 100%;
    max-width: 1105px;
  }

  .mission {
    &-card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 258px;
      height: 162px;

      background: $white;
      border: 1px solid #DFE0EB;
      border-radius: 8px;
      cursor: pointer;

      @include on-event() {
        color: $white;
        background: #101940;
        border-color: #101940;

        .mission-icon {
          filter: brightness(100);
        }
      }
    }

    &-icon {
      margin-bottom: 15px;
    }

    &-title {
      font-family: $font-muli-bold;
      font-size: 19px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.4px;
      color: $gray;
    }
  }

  @include respond-to(xs) {
    padding-bottom: 25px;

    &:after {
      display: none;
    }

    .overview-wrapper {
      flex-direction: column;
      margin: 0 auto;
    }

    .mission-card {
      margin-bottom: 15px;
    }
  }
}

.section-about {
  position: relative;
  padding-top: 115px;
  padding-bottom: 82px;
  background-color: #FBFBFB;

  &:after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: -18px;
    right: 7%;
    width: 43px;
    height: 43px;
    background: url($base-url+'images/icon-plus-yellow.png') no-repeat;
  }

  .about-title {
    margin-bottom: 32px;
  }

  .about-text {
    margin-bottom: 30px;
    color: #898989;
  }

  .col {
    &-first {
      padding-right: 45px;
    }

    &-second {
      padding-left: 45px;
    }
  }

  @include respond-to(xl) {
    .container {
      max-width: 1185px;
    }
  }
}

.section-mission {
  position: relative;
  padding-top: 106px;
  padding-bottom: 82px;

  .container-fluid {
    padding: 0;
  }

  .small-title {
    margin-bottom: 16px;
  }

  .section-title {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 30px;
    color: #898989;
  }

  .mission-holder {
    position: relative;
    padding-top: 28px;
    // margin-bottom: 92px;4
    margin-bottom: 150px;

    .small-title {
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 37px;
      letter-spacing: 4px;
    }

    .mission-title {
      margin-bottom: 25px;
    }

    .mission-image {
      position: relative;
      margin-top: 6px;

      img {
        position: relative;
        z-index: 10;
      }
    }

    .mission-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &.container {
      max-width: 1310px;

      &.right {
        margin-right: 0;
        padding-right: 0;

        .mission-content {
          padding-right: 70px;
        }

        .mission-image {
          position: relative;
          margin-top: 6px;

          img {
            position: relative;
            z-index: 10;
          }

          &:before {
            content: '';
            position: absolute;
            z-index: 5;
            right: 0;
            bottom: -105px;

            width: 80.5%;
            height: 100%;

            background: $yellow;
          }

          &:after {
            content: '';
            z-index: 12;
            position: absolute;
            bottom: -135px;
            right: 10%;
            width: 43px;
            height: 43px;
            background: url($base-url+'images/icon-plus-dark.png') no-repeat;
          }
        }

        &:nth-of-type(4) {
          .mission-image {
            &:after {
              bottom: -142px;
              right: 73.5%;
              width: 113px;
              height: 122px;
              background: url($base-url+'images/img-dotted.png') no-repeat;
            }
          }
        }
      }

      &.left {
        margin-left: 0;
        padding-left: 0;

        .mission-content {
          padding-left: 80px;
          // margin-top: 45px;
        }

        .mission-image {
          &:before {
            content: '';
            position: absolute;
            z-index: 5;
            left: 0;
            bottom: -85px;

            width: 80.5%;
            height: 100%;

            background: $brand-color;
          }
        }

        &:nth-of-type(5) {
          &:after {
            content: '';
            z-index: 12;
            position: absolute;
            bottom: -52px;
            right: 10px;
            width: 43px;
            height: 43px;
            background: url($base-url+'images/icon-plus-yellow.png') no-repeat;
          }
        }
      }
    }
  }

  @media (min-width: 1441px) {
    max-width: 1180px;
    margin: 0 auto;
  }

  @include respond-to(xl) {
    .container {
      max-width: 1185px;
    }
  }
}

.section-team {
  position: relative;
  padding-top: 75px;
  padding-bottom: 125px;
  background-color: $brand-color;

  &:before {
    content: '';
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 0;
    width: 106px;
    height: 146px;
    background: url($base-url+'images/img-dotted-yellow.png') no-repeat;
  }

  &:after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: 107px;
    right: 5%;
    width: 43px;
    height: 43px;
    background: url($base-url+'images/icon-plus-yellow.png') no-repeat;
  }

  .small-title {
    margin-bottom: 16px;
  }

  .section-title {
    margin-bottom: 23px;
    color: $white;
  }

  .team-content {
    p {
      margin: 0 auto 20px;
      width: 75%;

      text-align: center;
      color: $white;
    }
  }

  .team-wrapper {
    margin-top: 30px;
    max-width: 1160px;
  }

  .team-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 75px;

    .team-image {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 25px;
    }

    .team-name {
      font-weight: 700;
      font-size: 21.6px;
      line-height: 35px;
      color: #FCFCFC;
      text-align: center;
    }

    .team-position {
      font-weight: 700;
      font-size: 12.6px;
      line-height: 26px;

      letter-spacing: 4px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(#FCFCFC, .5);
    }
  }
}


.section-clients {
  position: relative;
  overflow: hidden;
  padding-top: 175px;

  &:before {
    content: '';
    z-index: 10;
    position: absolute;
    top: 156px;
    right: -18px;
    width: 106px;
    height: 146px;
    background: url($base-url+'images/img-dotted-yellow.png') no-repeat;
  }

  .container {
    padding-right: 0;
    margin-right: 0;

    .row {
      margin-right: 0;
    }
  }

  .small-title {
    margin-bottom: 15px;
  }

  h2 {
    margin-bottom: 57px;
  }

  p {
    margin-bottom: 5px;
    color: #898989;
  }

  .col-first {
    padding-right: 95px;
  }

  .col-second {
    padding-right: 0;
    padding-left: 40px;
    margin-top: 18px;
  }

  .client-logos {
    padding: 78px 40px;
    height: 725px;
    background-color: $brand-color;

    .small-title {
      padding-left: 88px;
      color: $white;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;

      margin-top: 65px;
      height: 93%;

      .logo-holder {
        display: flex;
        flex-basis: 50%;
        align-items: center;
        justify-content: center;

        height: 90px;
      }
    }
  }

  @media (min-width: 1441px) {
    max-width: 1180px;
    margin: 0 auto;

    .col-first {
      padding-right: 35px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1345px;
    }
  }
}

.section-systems {
  position: relative;
  padding-top: 125px;

  .container {
    padding-left: 0;
    margin-left: 0;

    .row {
      margin-left: 0;
    }
  }

  .small-title {
    margin-bottom: 17px;
  }

  h2 {
    margin-bottom: 43px;
  }

  p {
    margin-bottom: 5px;
    color: #898989;
  }

  .col-first {
    padding-left: 0;
    padding-right: 40px;
  }

  .col-second {
    padding-left: 0;
    padding-right: 95px;
  }

  @media (min-width: 1441px) {
    max-width: 1180px;
    margin: 0 auto;

    .col-second {
      padding-left: 35px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1345px;
    }
  }
}