.section-team {
  position: relative;
  padding-top: 75px;
  padding-bottom: 125px;
  background-color: $brand-color;

  &:before {
    content: '';
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 0;
    width: 106px;
    height: 146px;
    background: url($base-url+'images/img-dotted-yellow.png') no-repeat;
  }

  &:after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: 107px;
    right: 5%;
    width: 43px;
    height: 43px;
    background: url($base-url+'images/icon-plus-yellow.png') no-repeat;
  }

  .small-title {
    margin-bottom: 16px;
  }

  .section-title {
    margin-bottom: 23px;
    color: $white;
  }

  .team-content {
    p {
      margin: 0 auto 20px;
      width: 75%;

      text-align: center;
      color: $white;
    }
  }

  .team-wrapper {
    margin-top: 30px;
    max-width: 1160px;
  }

  .team-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 75px;

    .team-image {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 25px;
    }

    .team-name {
      font-weight: 700;
      font-size: 21.6px;
      line-height: 35px;
      color: $wild-sand;
      text-align: center;
    }

    .team-position {
      font-weight: 700;
      font-size: 12.6px;
      line-height: 26px;

      letter-spacing: 4px;
      text-align: center;
      text-transform: uppercase;
      color: rgba($wild-sand, .5);
    }
  }

  @include respond-to(lg-down) {
    .team-holder {
      .team-image img {
        max-width: 170px;
      }
    }
  }

  @include respond-to(md-down) {
    .small-title {
      margin-bottom: 8px;
    }
    
    .team-content p {
      width: 100%;
    }
  }

  @include respond-to(sm-down) {
    padding-bottom: 75px;

    &:before,
    &:after {
      display: none;
    }

    .team-holder {
      margin-top: 35px;

      .team-image {
        margin-bottom: 20px;
  
        img {
          max-width: 135px;
        }
      }

      .team-name {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 22px;
      }

      .team-position {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 2px;
      }
    }
  }

  @include respond-to(xs) {
    .team-holder .team-image img {
      max-width: 120px;
    }

    .team-content p {
      width: 90%;
    }
  }
}