.section-join {
  position: relative;
  margin-top: 103px;
  padding: 88px 0 80px;
  background-color: $brand-color;

  &:before,
  &:after {
    content: '';
    z-index: 10;
    position: absolute;
  }

  &:before {
    top: 200px;
    left: -26px;
    width: 106px;
    height: 146px;
    background: url($base-url+'images/img-dotted-yellow.png') no-repeat;
  }

  &:after {
    top: 55px;
    right: 166px;
    width: 43px;
    height: 43px;
    background: url($base-url+'images/icon-plus-yellow.png') no-repeat;
  }

  .section-title,
  .small-title {
    color: $white;
  }

  .small-title {
    margin-bottom: 17px;

    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.3em;
  }

  h2 {
    margin-bottom: 18px;

    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0;
    color: $white;
  }

  p {
    color: $white;
    text-align: center;
  }

  .btn {
    margin: 60px auto 0;
  }

  @include respond-to(lg-down) {
    &:after {
      right: 110px;
      width: 35px;
      background-size: contain;
    }

    h2 {
      font-size: 38px;
    }
  }
  
  @include respond-to(md-down) {
    h2 {
      font-size: 34px;
    }
  }

  @include respond-to(sm-down) {
    margin-top: 45px;
  }
  
  @include respond-to(xs) {
    &:before {
      top: 60px;
      left: -10px;  
      width: 60px;
      background-size: contain;
    }

    &:after {
      display: none;
    }
    
    h2 {
      font-size: 32px;
    }
  }
}