
$font-mplus: 'Mplus 1p';
$font-muli-bold: 'Muli';

$text-color: #898989;
$brand-color: #101940;
$yellow: #FBA936;
$white: #fff;
$black: #000;
$gray: #9FA2B4;
$light-gray: #AEB8D0;
$title-color: #1F2431;

$base-url: '../assets/' !default;